.registration-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .registration-label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .registration-input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .registration-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .registration-button:hover {
    background-color: #45a049;
  }
  
  .registration-button:active {
    background-color: #3e8e41
  }  